.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 10vh;
  font-weight: bold;
  border: solid red;
}

.teamDisplay {
  border: solid black;
  width: 1500px;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.teamLogo {
  /* border: solid transparent; */
  width: 230px;
  height: 110px;
  /* margin: 15px; */
  /* margin-top: 1px; */
  margin-left: 10px;
}

.playerImg {
  border: solid black;
  height: 150px;
  width: 200px;
  margin-left: 8px;
}
