.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("./rainbowbasketball.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.loadingImg {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 9.5vh;
  font-weight: bold;
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 48px;
  text-shadow: 2px 3px 3px rgb(39, 9, 9);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* background-color: rgb(125, 49, 17); */
}

.navbar div {
  width: 33%;
  height: 8vh;
  /* border: solid black; */
}

.teamDisplay {
  /* border: solid black; */
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.teamLogo {
  /* border: solid black; */
  width: 230px;
  height: 110px;
  margin-left: 10px;
}

.teamLogo:hover {
  /* border: solid black; */
  width: 250px;
  height: 130px;
  margin-left: 3px;
}

.playerImg {
  border: ridge black;
  border-radius: 15px;
  height: 150px;
  width: 200px;
  margin-left: 8px;
  background-image: url("./cardbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.playerImg:hover {
  border: ridge black;
  border-radius: 10px;
  height: 155px;
  width: 205px;
  margin-left: 8px;
}

.imgModalContainer {
  /* border: solid black; */
  display: flex;
  justify-content: center;
}

.playerImgModal {
  border: ridge rgb(39, 9, 9);
  border-radius: 15px;
  height: 180px;
  width: 290px;
  margin-left: 8px;
  background-image: url("./cardbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.playerName {
  /* border: solid beige; */
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 22px;
  font-size: 28px;
  text-shadow: 2px 3px 3px rgb(39, 9, 9);
}
.stats-ctn {
  margin-top: 10px;
  /* border: solid white; */
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
}

.stats-ctn::-webkit-scrollbar {
  display: none;
}

.stats-ctn div {
  border: groove rgb(39, 9, 9);
  width: 150px;
  height: 50px;
  font-size: 11px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  border: solid black;
  /* background-color: blue; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modalContainer {
  border: groove rgb(39, 9, 9);
  width: 350px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  background-image: url("./cardimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes jump {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.view-btn {
  /* border: green solid; */
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jump 1s ease-in infinite;
}

.view-btn button {
  font-weight: bold;
  height: 65px;
  width: 65px;
  border-radius: 50px;
  background-color: transparent;
  background-image: url("./basketballicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  border-color: transparent;
  font-family: cursive;
}

.close-btn {
  /* border: solid black; */
  display: flex;
  justify-content: right;
  height: 16px;
}

.close-btn button {
  background: transparent;
  border: transparent;
  font-weight: bold;
  font-size: 15px;
  color: aliceblue;
}

.close-btn button:hover {
  background: transparent;
  border: transparent;
  font-weight: bold;
  font-size: 18px;
}
