.App {
  text-align: center;
  height: 100vh;
}

.navbar {
  height: 10vh;
  font-weight: bold;
}

.teamDisplay {
  border: solid black;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.teamLogo {
  width: 100px;
}

.playerImg {
  height: 150px;
  width: 200px;
}
